# Dependencias (lo más importante)
node_modules/

# Variables de entorno (seguridad)
.env

# Archivos de sistema de Mac (basura)
.DS_Store

# Logs de errores
npm-debug.log*
yarn-debug.log*
yarn-error.log*